<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ricciadams.mdnsarr</string>

    <key>Program</key>
    <string>/usr/local/mdnsarr/sbin/mdnsarr</string>

    <key>KeepAlive</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/var/log/system.log</string>

    <key>UserName</key>
    <string>root</string>

    <key>GroupName</key>
    <string>staff</string>

    <key>EnablePressuredExit</key>
    <false/>
</dict>
</plist>
